<div class="container">
 <div class="col-md-10 col-md-offset-1">
 <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
 <%= form_with model: [:admin, @customer], local:true do |f| %>
  <table class="table">
   <tr>
    <th>会員ID</th>
    <td><%= @customer.id %></td>
   </tr></br>
   <tr>
    <th>氏名</th>
    <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
   </tr></br>
   <tr>
    <th>フリガナ</th>
    <td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
   </tr></br>
   <tr>
    <th>郵便番号</th>
    <td><%= f.text_field :postal_code %></td>
   </tr></br>
   <tr>
    <th>住所</th>
    <td><%= f.text_area :address %></td>
   </tr></br>
   <tr>
    <th>電話番号</th>
    <td><%= f.text_field :telephone_number %></td>
   </tr></br>
   <tr>
    <th>メールアドレス</th>
    <td><%= f.text_field :email %><td>
   </tr></br>
   <tr>
    <th>会員ステータス</th>
     <td>
      <%= f.radio_button :is_active, "effectiveness" %>
      <%= f.label :is_active, "有効" %>

      <%= f.radio_button :is_active, "withdrawal" %>
      <%= f.label :is_active, "退会" %>
     <td>
   </tr></br>
   <tr>
    <th></th>
    <td><%= f.submit '変更を保存' %></td>
   </tr>
  </table>
 <% end %>
 </div>
</div>