<h4>注文履歴詳細</h4>
 <table>

   <tr>
    <td>購入者</td>
    <td><%= @customer.last_name %><%= @customer.first_name %></td>
   </tr>

   <tr>
    <td>注文日</td>
    <td><%= @customer.created_at %></td>
   </tr>

   <tr>
    <td>配送先</td>
    <td><%= @customer.address %></td>
   </tr>

   <tr>
    <td>支払方法</td>
    <td><%= @customer.payment_method %></td>
   </tr>

   <tr>
    <td>注文ステータス</td>
    <td><%= @customer.status %></td>
   </tr>

  </table>