<h2>注文情報入力</h2>


 <%= form_with model: @order, url:orders_confirm_path, method: :post, local:true do |f| %>
 <h3>支払方法</h3>
  <%= f.radio_button :payment_method, "credit_card", checked: true %>
    <%= f.label :クレジットカード %>
    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :銀行振込 %>

  <h5>お届け先</h5>
    <%= f.radio_button :address_option, 0 %>
    <%= f.label :ご自身のお届け先 %><br>
    <%= current_customer.address%><br/><br>

    <%= f.radio_button :address_option, 1  %>
    <%= f.label :登録済み住所から選択 %><br>
    <%= f.select :registered_address, @addresses.all.map { |address| ["#{address.postal_code}" "#{address.address}" "#{address.name}", address[:id]]} %><br><br>

    <%= f.radio_button :address_option, 2 %>
    <%= f.label :新しいお届け先 %><br>
    <%= f.label :郵便番号（ハイフンなし）%><br>
    <%= f.text_field :postal_code %><br>
    <%= f.label :住所 %><br>
    <%= f.text_field :address %><br>
    <%= f.label :氏名 %><br>
    <%= f.text_field :name %><br>
  </div>

  <%= f.submit '確認画面へ進む' %>
 <% end %>

