<h4>配送先編集</h4>
<%= form_with model: @address, local: true do |f| %>
 <div class="container">
  <div class="row">
   <div class="col-md-10 col-md-offset-1">
    <table class="table">
     <tr>
      <th><%= f.label :postal_code, '郵便番号（ハイフンなし）' %></th>
      <td><%= f.text_field :postal_code %></td>
     </tr>
     <tr>
      <th><%= f.label :address,'住所' %></th>
      <td><%= f.text_field :address %></td>
     </tr>
     <tr>
      <th><%= f.label :name,'宛名' %></th>
      <td><%= f.text_field :name %></td>
     </tr>
     <tr>
      <th></th>
      <td></td>
      <td><%= f.submit '変更内容を保存' %></td>
     </tr>
    </table>
   </div>
  </div>
 </div>
<% end %>
