<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <nav class="navbar navbar-expand-sm navbar-warning bg-warning mt-3 mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">LOGO</a>
     <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">


      <% if admin_signed_in? %>
       <p>管理者でログインしています</p>

       <li>
         <%= link_to "商品一覧", admin_items_path %>
       </li>

       <li>
         <%= link_to "会員一覧", admin_customers_path %>
       </li>

       <li>
         <%= link_to "注文履歴一覧", admin_order_path(items_url) %>
       </li>

       <li>
         <%= link_to "ジャンル一覧", admin_genres_path %>
       </li>

       <li>
         <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
       </li>

      <% else %>

       <% if customer_signed_in? %>
        <%= current_customer.last_name %><%= current_customer.first_name %>

        <li>
          <%= link_to "マイページ", customer_path(current_customer.id) %>
        </li>

        <li>
          <%= link_to "商品一覧", items_path %>
        </li>

        <li>
          <%= link_to "カート", cart_items_path %>
        </li>

        <li>
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        </li>
       <% else %>

        <li>
          <%= link_to "About", home_about_path %>
        </li>

        <li>
          <%= link_to "商品一覧", items_path %>
        </li>

  　　  　<li>
          <%= link_to "新規登録", new_customer_registration_path %>
        </li>

        <li>
          <%= link_to "ログイン", customer_session_path %>
        </li>
       <% end %>
      <% end %>
      </ul>
     </div>
   </nav>

    <%= yield %>

  </body>
</html>
