<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
     <h5 class="my-0 mr-md-auto font-weight-normal">LOGO</h5>
     <nav class="my-2 my-md-0 mr-md-3">
      <% if admin_signed_in? %>
       <a class="p-2 text-dark" href="#"><%= link_to "商品一覧", admin_items_path %></a>
       <a class="p-2 text-dark" href="#"><%= link_to "会員一覧", admin_customers_path %></a>
       <a class="p-2 text-dark" href="#"><%= link_to "注文履歴一覧", admin_order_path(items_url) %></a>
       <a class="p-2 text-dark" href="#"><%= link_to "ジャンル一覧", admin_genres_path %></a>
       <a class="p-2 text-dark" href="#"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></a>

      <% else %>

       <% if customer_signed_in? %>
        <%= current_customer.last_name %><%= current_customer.first_name %>
        <a class="p-2 text-dark" href="#"><%= link_to "マイページ", customer_path(current_customer.id) %></a>
        <a class="p-2 text-dark" href="#"><%= link_to "商品一覧", items_path %></a>
        <a class="p-2 text-dark" href="#"><%= link_to "カート", cart_items_path %></a>
        <a class="p-2 text-dark" href="#"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></a>
       <% else %>
        <a class="p-2 text-dark" href="#"><%= link_to "About", home_about_path %></a>
        <a class="p-2 text-dark" href="#"><%= link_to "商品一覧", items_path %></a>
        <a class="p-2 text-dark" href="#"><%= link_to "新規登録", new_customer_registration_path %></a>
        <a class="p-2 text-dark" href="#"><%= link_to "ログイン", customer_session_path %></a>
       <% end %>

      <% end %>
     </nav>
    </div>

    <%= yield %>

  </body>

</html>
